<a href="https://colab.research.google.com/github/Abhilashkaundal/PYTHON-BASICS/blob/main/python_progg_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FUNCTION **

In [ ]:
def hello (a,b):
    return lambda s:s+a+b
h=hello(4,5)
k=h(6)
print(" ",k)

  15

In [ ]:
a=lambda a:a+3*(3-1)
j=a(2)
print("ans is",j)

ans is 8

In [ ]:
a=lambda a,b:a*b
j=a(2,5)
print("ans. is",j)

ans. is 10

In [ ]:
def chd():
    print("welcme to my himachal")
    
def mobile():
    a=12
    b=34
    c=a+b
    print("sum is ",c)
    
chd()
chd()
chd()
mobile()

welcme to my himachal
welcme to my himachal
welcme to my himachal
sum is  46

In [ ]:
def student(a,b):
    c=a+b
    return c
def sst(a):
    z=student(2,5)
    k=a-z
    return k
j=sst(12)
print("ans",j)

ans 5

In [ ]:
def record(**a):
    print("my name is ",a["name"])
    print("my roll number is",a["roll"])
record(name="ankush",roll=12)

my name is  ankush
my roll number is 12

In [ ]:
def student(a,b):
    print("value is ",a)
    print("value is",b)
student(a=12,b=23)

value is  12
value is 23

In [ ]:
def student(*a):
    for k in a:
        print ("value is",k)

student(12,23,34,45,67,67,68,78,789)

value is 12
value is 23
value is 34
value is 45
value is 67
value is 67
value is 68
value is 78
value is 789

In [ ]:
def student(*a):
    print("value is ",a[0])
    print("value is",a[4])
student(12,23,34,45,67,67,68,78,789)

value is  12
value is 67

In [ ]:
def hii(a,b):
    c=a+b
    print("sum is",c)
x=int(input("enter the value of a"))
y=int(input('enter the value of b'))
hii(x,y)

enter the value of a10
enter the value of b12
sum is 22

In [ ]:
a=45
def chd():
    print("welcme to my himachal")
    global a
    a=55
    print("your value is",a)
def mobile():
    a=12
    b=34
    c=a+b
    print("sum is ",c)
    
chd()
chd()
chd()
print("outer vlaue is",a)
mobile()

welcme to my himachal
your value is 55
welcme to my himachal
your value is 55
welcme to my himachal
your value is 55
outer vlaue is 55
sum is  46

# **LOOPING**

In [ ]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:

for i in range(200,0,7):
     print(i)

In [ ]:
n=int(input("entr the value"))
count=0
while (n!=0):
    n=n//10
    count=count+1
print(count)

entr the value10
2

In [ ]:
list=[12,32,15,42,55,75,122,132,150,173,200,248,201,300,400]
for i in list:
    if(i>200):
        break
    if(i%5==0):
        print(i)

15
55
75
150
200

In [ ]:
n=int(input("enter the table"))
for i in range (1,11):
    print(n,"*",i,"=",n*i)

enter the table10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
n=int(input("enter the number"))
sum=0
while (n>0):
    d=n%10
    sum=sum+d
    n=n//10
print("sum is",sum)

enter the number15
sum is 6

# **INHERITANCE**

In [ ]:
class abc:
    def hello(self):
        print("hiii")
class student:
    def hi(self):
        print("student")
k=student()
z=abc()
k.hi()
z.hello()
z=abc()
z.hello()
print(isinstance(z,abc))
print(isinstance(k,abc))
print(isinstance(k,student))

student
hiii
hiii
True
False
True

In [ ]:
class a:
    def hello(self):
        print("ye mayank hai ")
class b(a):
    def hii(self):
        print("ye mera laptop hai")

myobj=b()
myobj.hello()
myobj.hii()

ye mayank hai
ye mera laptop hai

In [ ]:
class a:
    def hello(self):
        print("ye mayank hai ")
class b(a):
    def hii(self):
       
            print("ye mera laptop hai")
    def test(self):
        self.hello()
myobj=b()
myobj.hello()
myobj.hii()
myobj.test()

ye mayank hai
ye mera laptop hai
ye mayank hai

In [ ]:
class a:
    w=90
    def hello(self):
        print("ye mayank hai ",self.w)
class b(a):
    def hii(self):
       
            print("ye mera laptop hai",self.w)
    def test(self):
        self.hello()
myobj=b()
myobj.hii()
myobj.test()

ye mera laptop hai 90
ye mayank hai  90

In [ ]:
#multilevel  inheritance class
class a:
    def hello(self):
        print("ye mayank hai ")
class b(a):
    def hii(self):
        print("ye mera laptop hai")
class c(b):
    def hehe(self):
        print("i am i n c class")
myobj=c()
myobj.hello()
myobj.hii()
myobj.hehe()

ye mayank hai
ye mera laptop hai
i am i n c class

In [ ]:
# multiple inheritance:-more than base class only one drived class
class a:
    def hi(self):
        print("  i am in a")
class b:
    def hm(self):
        print ("i am in b")
class c(a,b):
    def hk(self):
        print("i am in c")
s=c()
s.hi()
s.hk()
s.hm()

  i am in a
i am in c
i am in b

In [ ]:
#hiarical inheritance

class a:
    def aa(self):
        print("i am in a")
class b(a):
    def bb(self):
        print("i am in b")        
class c(a):
    def cc(self):
        self.aa()
        print("i am in c")
class d(a):
    def dd(self):
        self.aa()
        print("i am in d")
class e(b) :
    def ee(self):
        print("i am in e") 
class f(b):
    def ff(self):
        print("i am in f")
class g(c):
    def gg(self):
        self.cc()
        print("i am in g")  
class h(d):
    def hh(self):
        self.dd()
        print("i am in h")

k=g()
k.gg()
j=h()
j.hh()
l=f()
l.ff()
o=e()
o.ee()
o.aa()
o.bb()

i am in a
i am in c
i am in g
i am in a
i am in d
i am in h
i am in f
i am in e
i am in a
i am in b

In [ ]:
#hybriid inheritance

class a:
    def aa(self):
        print("hello i am A")
class b(a):
    def bb(self):
        print("hello i AM  B")
class c(b):
    def cc(self):
    
        print("hi i am C")
class d():
    def ANKUSH(self):
      
        print("hww i am in D")
class e(c,d):
    def anku(self):
        self.cc()
        print("hiii i am in E")
k=e()
k.anku()
k.ANKUSH()
k.cc()
k.bb()
k.aa()

hi i am C
hiii i am in E
hww i am in D
hi i am C
hello i AM  B
hello i am A

In [ ]:
#super().__init__()
class abc:
    def  __init__ (self):
         print("i am as constr")
class xyz(abc):
     def __init__(self):
        super().__init__()
        print("i am in b constr")
w=xyz()

i am as constr
i am in b constr

# **OOPS CONCEPT**

In [ ]:
class abc:
    def hello(chd):
        print("hello")
ram=abc()
ram.hello()

hello

In [ ]:
class abc:
    def hello(chd):
        print("hello")
    def by(chd,a,b):
        c=a+b
        print("sum is ",c)
ram=abc()
ram.hello()
ram.by(12,34)

hello
sum is  46

In [ ]:
class abc:
    def hello(chd):
        print("hello")
    def by(chd,a,b):
        c=a+b
        print("sum is ",c)
    def ankush(ch):
        a=12
        b=13
        c=a*b
        return c
ram=abc()
ram.hello()
ram.by(12,34)
z=ram.ankush()
print("result",z)

hello
sum is  46
result 156

In [ ]:
class student:
    name="ankush"
    nam="abhilash"
    def record(ank):
        print("my name is "+ank.name)
s=student()
s.record()
print("your name is "+s.nam)

my name is ankush
your name is abhilash

In [ ]:
#automatic call constructor
class ankush:
    def __init__(himachal):
        print("hello")
    def hii(himachal):
        print("how are you",)
z=ankush()        
z.hii()

hello
how are you

In [ ]:
try:
    a=12
    print("a value is ",a)
    print(z)
except:
    print("error")
print("how are you ")

a value is  12
<__main__.ankush object at 0x7fe1a7c586d0>
how are you

In [ ]:
try:
    a=12
    z=13
    print("a value is",a)
    print(z)
except:
    print("error")
else:
    print("no problem")
print("how are you")

a value is 12
13
no problem
how are you

In [ ]:
try:
    a=12
    z=13
    print("a value is",a)
    print(z)
except:
    print("error")
else:
    print("no problem")
finally:
    print("exit")
print("how are you")

a value is 12
13
no problem
exit
how are you

In [ ]:
import datetime
a=datetime.datetime(1998,9,20)
print(a.strftime("%A"))
print(a.strftime("%a"))
print(a.strftime("%U"))
print(a.strftime("%j"))
print(a.strftime("%c"))
print(a.strftime("%C"))
print(a.strftime("%d"))
print(a.strftime("%D"))
print(a.strftime("%e"))
print(a.strftime("%f"))

Sunday
Sun
38
263
Sun Sep 20 00:00:00 1998
19
20
09/20/98
20
000000

In [ ]:
import datetime
z=datetime.datetime.now()
print(z.strftime("%H")+":"+z.strftime("%M")+":"+z.strftime("%S")+":"+z.strftime("%p")+":"+z.strftime("%Y"))

11:35:41:AM:2022

In [ ]:
import datetime
z=datetime.datetime.now()
print(z.strftime("%H")+":"+z.strftime("%M")+""+z.strftime("%p"))

11:40AM

In [ ]:
import datetime
a=datetime.datetime(2000,9,14)
print(a.strftime("%u"))
print(a.strftime("%U"))
print(a.strftime("%w"))

4
37
4

In [ ]:
import datetime
a=datetime.datetime(2000,9,14)
print(a.strftime("%j"))

258

In [ ]:
import datetime
a=datetime.datetime(2000,9,14)
print(a.strftime("%Y"))

2000

In [ ]:
class a:
    def hii():
        print("ankush")
a.hii=staticmethod(a.hii)
a.hii()

ankush

In [ ]:
try:
    a=12
    z=13
    print("a value is",a)
    print(z)
    print(k)
except:
    print("error")
else:
    print("no problem")
    print("how are you")

a value is 12
13
<__main__.e object at 0x7fe1a7c47710>
no problem
how are you

In [ ]:
import datetime
z=datetime.datetime.now()
print(z)

2022-04-11 11:43:01.514228

In [ ]:
import datetime
a=datetime.datetime(2000,9,14)
print(a)

2000-09-14 00:00:00

In [ ]:
import datetime
a=datetime.datetime(2000,9,14)
print(a.strftime("%a"))

Thu

# **ploymorphism**

In [ ]:
#function overiding
class a:
    def student(self):
        print("i am in base class")
class b(a):
    def student(self):
        print("i am in derived class")
k=b()
k.student()
k.student()

i am in derived class
i am in derived class

In [ ]:
#class with method polymorphism(overriding)
class abc:
    def student(self):
        print("how are you")
class xyz:
    def student(self):
        print("by......")
k=abc()
w=xyz()
for i in (k,w):
    i.student()

how are you
by......

In [ ]:
#function with inheritance polymorphism(overriding)

class abc:
    def student(self):
        print("how are you")
class xyz:
    def student(self):
        print("by......")
k=abc()
w=xyz()
k.student()
w.student()

how are you
by......

In [ ]:
#function with inheritance polymorphism with default (indepedent function)(overriding)

class abc:
    def student(self):
        print("how are you")
class xyz:
    def student(self):
        print("by......")
#(indepent function)        
def start(q):
    q.student()
k=abc()
w=xyz()
start(k)
start(w)

how are you
by......

In [ ]:
#class method
class fan:
    k=12
    def start():
        print("bhii")
    def hi(z):
        print("value is",z.k)
fan.start=staticmethod(fan.start)
fan.start()
fan.hi=classmethod(fan.hi)
fan.hi()

bhii
value is 12

In [ ]:
#staticmethod
class xy:
    def hi():
        print ("how are you")
xy.hi=staticmethod(xy.hi)
xy.hi()

how are you